.logo img{
    width: 250px;
    height: 150px;
    border: 2px black solid;
    border-radius: 105px;
}
.nav-item a{
  color: black;
}

.collapse{
    margin-left: 25px;
    font-weight: bold;
    font-size: large;
}
.collapse li{
  padding-right: 30px;
}


.line-cnt a{
  color: black;
  text-decoration:none;
  margin-right: 45px;

}
#navbtn{
  border-radius: 10px;
  margin-right: 7px;
}
.carousel-item img{
  height: 600px;
}
.about img{
    /* width: 700px; */
    width: 100%;
    height: 500px;
}
.abthd{
    margin-top: -255px;
    margin-left: 0px;
    padding: 30px;
}
.abthd h1{
    color: white;
    font-weight: 60px;
    /* font-weight: bold; */
}
.abthd p{
    color: white;
    font-size: 20px;
}
.abthd button{
width: 155px;
height: 50px;
border-radius: 30px;
background-color: #344e41;;
}
.abthd a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0px;

}


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

.flip-card {
	background-color: transparent;
	width: 390px;
	height: 320px;
	border: 1px solid #f1f1f1;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
	background-color: green;
	color: white;
	transform: rotateY(180deg);
  }
  .flip-card img{
	  width: 385px;
	  height: 315px;
  }
  .flip-card-back h1{
	  text-align: center;
	  margin-top: 50px;
	  font-size: 50px;
	  font-weight: bold;
	  font-family: 'DM Serif Display', serif;
  }
  .club{
    font-weight:bold;
    font-size: 25px;
    text-transform: uppercase;
    color: #344e41;
    letter-spacing: 1.3px;
	text-align: center;
	text-shadow: 2px 2px green;
}

.clubh2{
	color: #344e41;
    letter-spacing: 1.3px;
	text-align: center;
	text-shadow: 2px 2px green;

}

.save{
  width: 100px;
  height: 50px;
  color: white;
  background-color: red;
  margin-left: 314px;
  margin-top: -51px;
  float: right;
  font-weight: bold;
  font-size: 18px;
  /* transform: rotate(45deg); */
  
}
.save:hover{
  background-color:green;
  /* color: black; */
}
.save p{
  padding: 8px;
}
.card-body ul{
  list-style-type:none;
}
.card-body li{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.card-title{
  font-size: 30px;
  text-align: center;
}
.card-body a{
margin-left: 120px;
}
.save1{
  width: 135px;
  height: 50px;
  color: white;
  background-color: red;
  margin-left: 314px;
  margin-top: -51px;
  float: right;
  font-weight: bold;
  font-size: 18px;
  /* transform: rotate(45deg); */
  
}
.card{
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;  
}
.card:hover{
  /* background-color: green; */
  color: white;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-image: url(./stp\ golf\ nw.png);
}


.social h1{
  transform: rotate(-90deg);
  margin-left: -50px;
  margin-top: 210px;
  float: left;
  color: white;
}
.ourclub a{
  transition: all .5s ease-out 0s;
  text-decoration: none;
  font-weight:bold;
  font-size: 18px;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;  

}
.ourclub h1{
  color: white;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;  

}
.ourvlub h1:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}
.hrs{
  color: white;
}
.footer-bottom-menu li{
  display: inline;
  float: right;
  padding: 5px;
  margin-right: 30px;
}
.footer-bottom-menu a{
  text-decoration: none;
  margin-top: 0px;
  color: white;
}
.container1{
  background-image: url(./stp\ golf\ nw.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.accordion-item{
  background-color: green;
  color: white;
}
.crd table{
  /* transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); */
  /* padding: 14px 80px 18px 36px; */
  /* cursor: pointer;   */
}
